/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #edf2f9;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.quill {
  height: 300px; /* Ajusta la altura según tus necesidades */
  margin-bottom: 40px; 
}
